@model Market_Store.Models.Usert

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";


}

<div class="container">
    <h1>Details</h1>
    <h4>Usert</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="~/Image/@Html.DisplayFor(model => model.Imagepath)" width="70" height="70" class="img-circle"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fullname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            Age
        </dt>

        <dd class="col-sm-10">
            @(DateTime.Now.Year-Model.Barthday.Value.Year)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Datecreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Datecreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>

    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Userid"><span class="material-icons">edit</span></a> 
    <a asp-action="Index"><span class="material-icons">arrow_back</span></a>



</div>