@model IEnumerable<Market_Store.Models.Usert>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";



}






<div class="container-fluid">

    <h1>Users</h1>

    <p>
        <a class="btn btn-primary" asp-controller="Userts" asp-action="Create">Create New</a>
    </p>
    <div class="table-responsive">

        <table id="table" class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>
                        Image
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Fullname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Phonenumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Gender)
                    </th>
                    <th>
                        Age
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>Edit</th>
                    <th>Show More</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>



                @foreach (var item in Model)
                {
                    if (item.Userid == (decimal)31)
                    {
                        continue;
                    }
                    <tr>
                        <td>
                            <img src="~/Image/@item.Imagepath" width="70" height="70" class="img-circle">


                        <td>
                            @Html.DisplayFor(modelItem => item.Fullname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Phonenumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @(DateTime.Now.Year-item.Barthday.Value.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>

                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Userid"><span class="material-icons">edit</span></a>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Userid"><span class="material-icons">info</span></a>

                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Userid"><span class="material-icons">delete</span></a>
                        </td>
                    </tr>
                }








            </tbody>
        </table>
    </div>

</div>


