@model IEnumerable<Market_Store.Models.Homepage>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Logoimage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imgeslider1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleSlider1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleSlider2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imageslider2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Logoimage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imgeslider1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleSlider1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleSlider2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imageslider2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HomeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HomeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
