@model Market_Store.Models.Storet

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}


<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Storet</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Image
            </dt>
            <dd class="col-sm-10">
                <img src="~/Image/@Html.DisplayFor(model => model.Imagepath)" width="70" height="70" class="img-fluid" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Storename)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Storename)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Date Created
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Datecreated)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rating)
            </dd>
            <dt class="col-sm-2">
                Date Open
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dateopen)
            </dd>
            <dt class="col-sm-2">
                Date Close
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Dateclose)
            </dd>
            <dt class="col-sm-2">
                Category
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cat.Categoryname)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Storeid">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>