@model IEnumerable<Market_Store.Models.Storet>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}


<div class="container">

    <h1>Index</h1>

    <p>
        <a class="btn btn-primary" asp-controller="Storets" asp-action="Create">Create New</a>
    </p>
   
    <div class="table-responsive-lg">
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Storename)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        Join Date
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        Date Open
                    </th>
                    <th>
                        Date Close
                    </th>

                    <th>
                        Category
                    </th>
                    <th>Edit</th>
                    <th>Show More</th>
                    <th>Delete</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="~/Image/@item.Imagepath" width="100" height="100" class="img-fluid "/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Storename)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Datecreated)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dateopen)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Dateclose)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cat.Categoryname)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Storeid"><span class="material-icons">edit</span></a>

                        </td>
                        <td>

                            <a asp-action="Details" asp-route-id="@item.Storeid"><span class="material-icons">info</span></a>

                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Storeid"><span class="material-icons">delete</span></a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>